In [2]:
import pandas as pd

In [8]:
with open('data/day_01.txt') as f:
    data = f.read()

In [17]:
df = pd.DataFrame(data.splitlines(), 
                  columns=['depth'],
                  dtype=float)

In [18]:
df

       depth
0      119.0
1      121.0
2      129.0
3      128.0
4      130.0
...      ...
1995  6214.0
1996  6208.0
1997  6210.0
1998  6212.0
1999  6217.0

[2000 rows x 1 columns]

In [30]:
sample = [199, 200, 208, 210, 200,
          207, 240, 269, 260, 263]

# sample = [6, 3, 7, 3, 6, 7, 8, 3]

In [38]:
def get_increase(data):

    increase = 0

    for idx in range(1, len(data)):
        if data[idx] > data[idx-1]:
            increase += 1

    return increase

In [39]:
get_increase(sample)

7

In [43]:
day_01_data = df.depth.to_list()

In [44]:
get_increase(day_01_data)

1475

In [47]:
seq = [0, 1, 2, 3, 4, 5]
window_size = 3

for i in range(len(seq) - window_size + 1):
    print(seq[i: i + window_size])

[0, 1, 2]
[1, 2, 3]
[2, 3, 4]
[3, 4, 5]

In [ ]:
# lstlen=len(sslist)
# sslist = [sum(sslist[i:min(i+grouping,lstlen)]) for i in range(lstlen)]