In [1]:
import pandas as pd

In [2]:
df_sample = pd.read_csv("../data/day_3_sample.txt", 
                        names=['input'],
                        dtype={'input': str})

In [3]:
df_sample

    input
0   00100
1   11110
2   10110
3   10111
4   10101
5   01111
6   00111
7   11100
8   10000
9   11001
10  00010
11  01010

In [4]:
new_columns = ["".join("output_"+str(i)) for i in range(0,5)]

In [5]:
def get_splits(word):
    return [char for char in word]


applied_df = df_sample.apply(lambda row: get_splits(row.input), axis='columns', result_type='expand')
df_sample = pd.concat([df_sample, applied_df], axis='columns')

df_sample.columns=['input', 'output_0', 'output_1', 'output_2', 'output_3', 'output_4']

df_sample

    input output_0 output_1 output_2 output_3 output_4
0   00100        0        0        1        0        0
1   11110        1        1        1        1        0
2   10110        1        0        1        1        0
3   10111        1        0        1        1        1
4   10101        1        0        1        0        1
5   01111        0        1        1        1        1
6   00111        0        0        1        1        1
7   11100        1        1        1        0        0
8   10000        1        0        0        0        0
9   11001        1        1        0        0        1
10  00010        0        0        0        1        0
11  01010        0        1        0        1        0

In [6]:
df_sample.columns=['input', 'output_0', 'output_1', 'output_2', 'output_3', 'output_4']

df_sample

    input output_0 output_1 output_2 output_3 output_4
0   00100        0        0        1        0        0
1   11110        1        1        1        1        0
2   10110        1        0        1        1        0
3   10111        1        0        1        1        1
4   10101        1        0        1        0        1
5   01111        0        1        1        1        1
6   00111        0        0        1        1        1
7   11100        1        1        1        0        0
8   10000        1        0        0        0        0
9   11001        1        1        0        0        1
10  00010        0        0        0        1        0
11  01010        0        1        0        1        0

In [7]:
df_sample.loc[:, "output_0":].mode()

  output_0 output_1 output_2 output_3 output_4
0        1        0        1        1        0

In [8]:
gamma_bi = "".join(df_sample.loc[:, "output_0":].mode().values[0])

epsilon_bi = "".join([g.replace('1','U').replace('0','1').replace('U','0') for g in gamma_bi])

In [9]:
gamma_int = int(gamma_bi,2)
epsilon_int = int(epsilon_bi,2)

power_consumption = gamma_int * epsilon_int

power_consumption

198

In [10]:
df = pd.read_csv("../data/day_03.txt",
                 names=['input'],
                 dtype={'input': str})

new_columns = ["".join("output_"+str(i)) for i in range(0,len(df.input[0]))]

In [11]:
def get_splits(word):
    return [char for char in word]

get_splits(df.input[0])

['1', '0', '0', '1', '0', '1', '0', '0', '1', '0', '0', '0']

In [12]:
applied_df = df.apply(lambda row: get_splits(row.input), axis='columns', result_type='expand')

In [13]:
df = pd.concat([df, applied_df], axis='columns')

In [14]:
df.columns=[["input"] + new_columns]

In [15]:
def get_power_consumption(df):
    
    gamma_bi = "".join(df.loc[:, new_columns].mode().values[0])

    epsilon_bi = "".join([g.replace('1','U').replace('0','1').replace('U','0') for g in gamma_bi])

    gamma_int = int(gamma_bi,2)
    epsilon_int = int(epsilon_bi,2)

    return gamma_int * epsilon_int

In [16]:
get_power_consumption(df)

2648450

## Part II

In [35]:
df_sample = pd.read_csv("../data/day_3_sample.txt", 
                        names=['input'],
                        dtype={'input': str})

def get_splits(word):
    return [char for char in word]


applied_df = df_sample.apply(lambda row: get_splits(row.input), axis='columns', result_type='expand')
df_sample = pd.concat([df_sample, applied_df.astype('int')], axis='columns')

df_sample.columns=['input', 'output_0', 'output_1', 'output_2', 'output_3', 'output_4']

df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   input     12 non-null     object
 1   output_0  12 non-null     int64
 2   output_1  12 non-null     int64
 3   output_2  12 non-null     int64
 4   output_3  12 non-null     int64
 5   output_4  12 non-null     int64
dtypes: int64(5), object(1)
memory usage: 704.0+ bytes

In [36]:
for column in df_sample.loc[:, new_columns[:5]]:
    if len(df_sample) > 1: 
        mode = df_sample.loc[:, column].mode().values[0]
        df_sample.sort_values(by=column, ascending=False)
        df_sample.drop(df_sample[df_sample[column] != mode].index, axis=0, inplace=True)
    print(df_sample)

   input  output_0  output_1  output_2  output_3  output_4
1  11110         1         1         1         1         0
2  10110         1         0         1         1         0
3  10111         1         0         1         1         1
4  10101         1         0         1         0         1
7  11100         1         1         1         0         0
8  10000         1         0         0         0         0
9  11001         1         1         0         0         1
   input  output_0  output_1  output_2  output_3  output_4
2  10110         1         0         1         1         0
3  10111         1         0         1         1         1
4  10101         1         0         1         0         1
8  10000         1         0         0         0         0
   input  output_0  output_1  output_2  output_3  output_4
2  10110         1         0         1         1         0
3  10111         1         0         1         1         1
4  10101         1         0         1         0         1
   input  output_0  output_1  output_2  output_3  output_4
2  10110         1         0         1         1         0
3  10111         1         0         1         1         1
   input  output_0  output_1  output_2  output_3  output_4
2  10110         1         0         1         1         0