In [1]:
from statistics import median, mean
import pandas as pd

In [2]:
test = [16,1,2,0,4,2,7,1,2,14]

In [3]:
fuel = []

ideal_position = median(test)

for t in test:
    fuel.append(abs(t - ideal_position))

In [4]:
sum(fuel)

37.0

In [5]:
def calc_fuel(position):
    
    ideal_position = median(position)

    return sum([abs(p - ideal_position) for p in position])

In [6]:
calc_fuel(test)

37.0

In [7]:
# open file and read the content in a list
with open('../data/day_07.txt', 'r') as f:
    input = f.readlines()
    
data = [int(i) for i in input[0].split(',')]

In [8]:
calc_fuel(data)

347509.0

# Part II

In [9]:
possible_positions = [i for i in range(min(test), max(test)+1)]

possible_positions

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [10]:
difference = [abs(t-possible_positions[5]) for t in test]

In [11]:
difference

[11, 4, 3, 5, 1, 3, 2, 4, 3, 9]

In [12]:
total_difference = sum([i for i in range(0, int(difference[0])+1)])
total_difference

66

In [13]:
df = pd.DataFrame(test, columns=['position'])

In [14]:
df

   position
0        16
1         1
2         2
3         0
4         4
5         2
6         7
7         1
8         2
9        14

In [15]:
all_differences = []

for p in possible_positions:
    difference = [abs(t-p) for t in test]
    all_differences.append(difference)

In [16]:
all_differences

[[16, 1, 2, 0, 4, 2, 7, 1, 2, 14],
 [15, 0, 1, 1, 3, 1, 6, 0, 1, 13],
 [14, 1, 0, 2, 2, 0, 5, 1, 0, 12],
 [13, 2, 1, 3, 1, 1, 4, 2, 1, 11],
 [12, 3, 2, 4, 0, 2, 3, 3, 2, 10],
 [11, 4, 3, 5, 1, 3, 2, 4, 3, 9],
 [10, 5, 4, 6, 2, 4, 1, 5, 4, 8],
 [9, 6, 5, 7, 3, 5, 0, 6, 5, 7],
 [8, 7, 6, 8, 4, 6, 1, 7, 6, 6],
 [7, 8, 7, 9, 5, 7, 2, 8, 7, 5],
 [6, 9, 8, 10, 6, 8, 3, 9, 8, 4],
 [5, 10, 9, 11, 7, 9, 4, 10, 9, 3],
 [4, 11, 10, 12, 8, 10, 5, 11, 10, 2],
 [3, 12, 11, 13, 9, 11, 6, 12, 11, 1],
 [2, 13, 12, 14, 10, 12, 7, 13, 12, 0],
 [1, 14, 13, 15, 11, 13, 8, 14, 13, 1],
 [0, 15, 14, 16, 12, 14, 9, 15, 14, 2]]

In [17]:
def f(n):
    return n * (n+1) / 2

In [21]:
# penalties = []

# for all in all_differences:
#     penalties.append([])
#     for a, p in zip(all, penalties):
#         print(a, p)

This is completely hacky! 

To solve I rounded down the mean and hard coded it in

In [33]:
def calc_fuel2(position):
    
    # ideal_position = round(mean(position))
    ideal_position = 473

    return sum([f(abs(p - ideal_position)) for p in position])