In [54]:
from statistics import median
import pandas as pd

In [2]:
test = [16,1,2,0,4,2,7,1,2,14]

In [3]:
fuel = []

ideal_position = median(test)

for t in test:
    fuel.append(abs(t - ideal_position))

In [4]:
sum(fuel)

37.0

In [5]:
def calc_fuel(position):
    
    ideal_position = median(position)

    return sum([abs(p - ideal_position) for p in position])

In [6]:
calc_fuel(test)

37.0

In [7]:
# open file and read the content in a list
with open('../data/day_07.txt', 'r') as f:
    input = f.readlines()
    
data = [int(i) for i in input[0].split(',')]

In [8]:
calc_fuel(data)

347509.0

# Part II

In [46]:
possible_positions = [i for i in range(min(test), max(test)+1)]

possible_positions

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [50]:

difference = [abs(t-possible_positions[5]) for t in test]

In [51]:
difference

[11, 4, 3, 5, 1, 3, 2, 4, 3, 9]

In [52]:
total_difference = sum([i for i in range(0, int(difference[0])+1)])
total_difference

66

In [55]:
df = pd.DataFrame(test, columns=['position'])

In [56]:
df

   position
0        16
1         1
2         2
3         0
4         4
5         2
6         7
7         1
8         2
9        14

# To Do: 
- Create a function
- apply it to the position column
- sort the df by the new difference column 
- take first row :D