In [1]:
import pandas as pd

In [2]:
input_columns = ["input_" + str(i) for i in range(10)]
ouptput_columns = ["output_" + str(i) for i in range(4)]

names = input_columns +["divider"]+ ouptput_columns

In [3]:
df_test = pd.read_csv('../data/day_8_test.txt',
                      sep=' ', 
                      names=names)

In [4]:
df_test.head(10)

,input_0,input_1,input_2,input_3,input_4,input_5,input_6,input_7,input_8,input_9,divider,output_0,output_1,output_2,output_3
0,be,cfbegad,cbdgef,fgaecd,cgeb,fdcge,agebfd,fecdb,fabcd,edb,|,fdgacbe,cefdb,cefbgd,gcbe
1,edbfga,begcd,cbg,gc,gcadebf,fbgde,acbgfd,abcde,gfcbed,gfec,|,fcgedb,cgb,dgebacf,gc
2,fgaebd,cg,bdaec,gdafb,agbcfd,gdcbef,bgcad,gfac,gcb,cdgabef,|,cg,cg,fdcagb,cbg
3,fbegcd,cbd,adcefb,dageb,afcb,bc,aefdc,ecdab,fgdeca,fcdbega,|,efabcd,cedba,gadfec,cb
4,aecbfdg,fbg,gf,bafeg,dbefa,fcge,gcbea,fcaegb,dgceab,fcbdga,|,gecf,egdcabf,bgf,bfgea
5,fgeab,ca,afcebg,bdacfeg,cfaedg,gcfdb,baec,bfadeg,bafgc,acf,|,gebdcfa,ecba,ca,fadegcb
6,dbcfg,fgd,bdegcaf,fgec,aegbdf,ecdfab,fbedc,dacgb,gdcebf,gf,|,cefg,dcbef,fcge,gbcadfe
7,bdfegc,cbegaf,gecbf,dfcage,bdacg,ed,bedf,ced,adcbefg,gebcd,|,ed,bcgafe,cdgba,cbgef
8,egadfb,cdbfeg,cegd,fecab,cgb,gbdefca,cg,fgcdab,egfdb,bfceg,|,gbdfcae,bgc,cg,cgb
9,gcafb,gcf,dcaebfg,ecagb,gf,abcdeg,gaef,cafbge,fdbac,fegbdc,|,fgae,cfgab,fg,bagce

In [5]:
df_test.loc[:, ouptput_columns]

  output_0 output_1 output_2 output_3
0  fdgacbe    cefdb   cefbgd     gcbe
1   fcgedb      cgb  dgebacf       gc
2       cg       cg   fdcagb      cbg
3   efabcd    cedba   gadfec       cb
4     gecf  egdcabf      bgf    bfgea
5  gebdcfa     ecba       ca  fadegcb
6     cefg    dcbef     fcge  gbcadfe
7       ed   bcgafe    cdgba    cbgef
8  gbdfcae      bgc       cg      cgb
9     fgae    cfgab       fg    bagce

In [6]:
outputs = df_test.loc[:, ouptput_columns].values.tolist()

In [7]:
flat_list = [item for sublist in outputs for item in sublist if len(item) == 2 or len(item) == 3 or len(item) == 4 or len(item) == 7]

In [8]:
len(flat_list)

26

In [9]:
def get_counts(df):
    outputs = df.loc[:, ouptput_columns].values.tolist()
    flat_list = [item for sublist in outputs for item in sublist if len(item) == 2 or len(item) == 3 or len(item) == 4 or len(item) == 7]
    return len(flat_list)

In [10]:
get_counts(df_test)

26

In [11]:
df = pd.read_csv('../data/day_8.txt',
                 sep=' ', 
                 names=names)

In [12]:
get_counts(df)

514

## Part II