In [48]:
import pandas as pd

In [50]:
file_path = '../data/day_13_sample.txt'

df = pd.read_csv(file_path, 
                 sep=',', 
                 names=['x', 'y'])

    x   y
0   6  10
1   0  14
2   9  10
3   0   3
4  10   4