In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/day_01.txt', 
                 dtype=int,
                 names=['depth'])

In [3]:
df

      depth
0       119
1       121
2       129
3       128
4       130
...     ...
1995   6214
1996   6208
1997   6210
1998   6212
1999   6217

[2000 rows x 1 columns]

In [4]:
sample = [199, 200, 208, 210, 200,
          207, 240, 269, 260, 263]

# sample = [6, 3, 7, 3, 6, 7, 8, 3]

In [5]:
def get_increase(data):

    increase = 0

    for idx in range(1, len(data)):
        if data[idx] > data[idx-1]:
            increase += 1

    return increase

In [6]:
get_increase(sample)

7

In [7]:
get_increase(df.depth)

1475

## Part II

In [8]:
def aggregator(data, window_size):
    """Sum a sliding window of data."""
    aggregated = [sum(data[i: i + window_size]) for i in range(len(data) - window_size + 1)]
    return aggregated

In [9]:
aggregator(sample, 3)

[607, 618, 618, 617, 647, 716, 769, 792]

In [10]:
def get_aggregated_increase(data, window_size):
    
    """Get the number of times the sum of the window size increases.

    Returns:
        count: int]
    """
    summed = aggregator(data, window_size)
    
    count = get_increase(summed)
    
    return count

In [11]:
get_aggregated_increase(df.depth, 3)

1516